body {

    margin: 0px;
    min-width: 1160px;

    position: relative;
    min-height: 100vh;
    
    background-color: rgb(45, 47, 56);

}
.head_div {

    background-color: rgb(214, 214, 214);
    height: 162px;

    margin: 0px auto;

}
.head_div_img {

    width: fit-content;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;

    padding-top: 40px;

}
.main_div {

    width: fit-content;
    height: fit-content;

    margin: 40px auto;
    padding: 20px;

    border: rgb(214, 214, 214) 2px solid;
    border-radius: 10px;

}
.main_div_1 {

    width: 500px;
    height: 150px;

}
.main_div_1_text {

    text-align: center;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(214, 214, 214);
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 2px;
    width: fit-content;
    height: fit-content;

    border-bottom: rgb(214, 214, 214) 2px solid;
    
}
.main_div_2 {

    width: fit-content;
    height: fit-content;
    margin: 0px auto;

}
.main_div_3 {

    width: fit-content;
    height: 47px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;

}
.main_div_4 {

    height: 47px;
    width: 120px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    background-color: rgb(50, 143, 250);

    float: left;

}
.main_div_4_text {

    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(214, 214, 214);
    margin: 10px 0px 0px 0px;
}
.main_div_5 {

    height: 43px;
    width: 300px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(214, 214, 214);
    
    float: left;

    outline: none;
    border: none;

    padding: 2px 10px;

}
.main_button_1 {
    
    font-size: 20px;
    background-color: rgb(50, 143, 250);
    border-color: rgb(50, 143, 250);
    width: 420px;
    height: 32px;
    text-decoration: none;
    outline: none;
    border: none;
    display: block;
    margin: 40px auto;
    border-radius: 10px;

}
.main_button_1:hover {
    
    color: rgb(50, 143, 250);
    box-shadow: 0 0px 10px;
    transition: all 0.3s ease;
    cursor: pointer;

}
.main_button_1_text {

    text-align: center;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(48, 48, 48);
    margin: 0px;

}
.footer_div {

    width: auto;
    height: 50px;

    background-color: rgb(214, 214, 214);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

}
.footer_div_text {

    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 15px 0px;

}

.label {

    float: left;

}
.input {

    float: left;
    
}
.main_button_submit {

    background-color: rgba(255, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0px 0px 5px 0px;

}